// *********************************
// Colors
// *********************************
$mainColor: rgb(0, 121, 191);
$secondaryColor: #E2E4E6;

$mainFont: "Helvetica Neue", Arial, Helvetica, sans-serif;
